* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: bisque;
}


header nav ul li a {
    margin: 0.7rem;
    text-decoration: none;
    color: black;
    font-weight: 800;
}

header nav ul li a span {
    padding: 0.5rem;
}

#about {
    padding: 1rem 2rem;
}

#about h1 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.products .product img {
    width: 140px;
    height: 100%;
} 

.products h2{
    text-align: center;
}

.products h3 {
    width: 50%;
}

.addedToCart {
    background-color: grey;
    color: white;
    padding: 0.5rem;
    pointer-events: none;
    display: inline-block;
}

.addToCart {
    background-color: orange;
    color: black;
    padding: 0.5rem;
    display: inline-block;
}