* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    color: red;
}

.navBar a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.rows {
    margin: 1 rem;
}

.rows .movies {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.rows .movies img {
    width: 150px;
    margin: 5px;
}