* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ff3452;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 0.4rem;
    font-size: 1.2rem;
}

nav ul a {
    color: #fff;
    text-decoration: none;
}